## Warmup

Please execute each cell in the following. To execute a cell, click on it, and then use SHIFT+ENTER (this will execute the contents of the cell, and move down to the next one!). <font color='red'>If you have any question, please ask on Piazza. </font>

There are other useful keyboard commands (see the Help menu) and the menu bar can always be used instead as well

**Load the [ipython-sql](https://github.com/catherinedevlin/ipython-sql)  extension**

In [1]:
%load_ext sql

**Create an empty database named `test.db`**

In [2]:
%sql sqlite:///test.db

'Connected: @test.db'

**Create a table named `graph`**

In [3]:
%%sql

CREATE TABLE graph (source integer, destination integer)

 * sqlite:///test.db
Done.

[]

**Insert data into `graph`**

In [4]:
%%sql

INSERT INTO graph VALUES (1,2);
INSERT INTO graph VALUES (2,3);
INSERT INTO graph VALUES (3,4);
INSERT INTO graph VALUES (4,1);

 * sqlite:///test.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

** Run an SQL query **

In [5]:
%%sql

SELECT * FROM graph

 * sqlite:///test.db
Done.

[(1, 2), (2, 3), (3, 4), (4, 1)]

** Check Database Metadata **

If you want to check database metadata (e.g., table names or schemas), you can do the followings:

1. Open a terminal and type `SQLite`
2. Type `.tables` to check tables names
3. Type `.schema graph` to check table schema

<img src="sqlitecmd.png" width="400"  align="left">